@import url("./reset.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Anicons Regular";
    src: url("/assets/fonts/AniconsGX.ttf");
    font-weight: normal;
    font-style: normal;
}

@layer utilities {
    .anicons-start {
        font-variation-settings: "TIME" 1;
    }

    .anicons-end {
        font-variation-settings: "TIME" 100;
    }
}
